*{
    box-sizing: border-box;
}
.wrapper{
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 0%;
    flex: 1 1 80%;
    min-height:100%;
}

.body-wrapper{
        padding-top:3%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 0%;
        flex: 1 1 80%;
        min-height:100%;
    }

    
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
    grid-template-rows: 1fr;
    height:100%;
    grid-gap:1vw;
  }
  p{
    font-size: 1.5em;
  }
  .title{
    color: white;
    font-size: 1.8em;
    margin: 0 0 .8em 0;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;

  }

  .page-title{
    color: white;
    font-size: 2.5em;
    margin: 0 0 .25em 0;
    flex-wrap: nowrap;
    text-align: center;

  }

  .subtitle{
    color: white;
    font-size: 1.5em;
    margin: 0 0 2em 0;
    flex-wrap: nowrap;
    text-align: center;
  }
  .subtitle2{
    color: white;
    font-size: 1.5em;
    margin: 0 0 .25em 0;
    flex-wrap: nowrap;
    text-align: center;
    padding-bottom: 2%;
  }

  @media (max-width:1000px){
    .title{
        font-size: 1.5em;
        margin: 0 0 .8em 0;
        flex-wrap: nowrap;
        text-align: center;
    
      }
    
      .page-title{
        font-size: 2.2em;
        margin: 0 0 .25em 0;
        flex-wrap: nowrap;
        text-align: center;
    
      }
    
      .subtitle{
        font-size: 1.2em;
        margin: 0 0 2em 0;
        flex-wrap: nowrap;
        text-align: center;
      }
      p{
        font-size: 1.2em;
      }
      .subtitle2{
      
        font-size: 1.2em;
        margin: 0 0 .25em 0;
        flex-wrap: nowrap;
        text-align: center;
      }

  }
  @media (max-width:550px){
    .title{
        font-size: 1.5em;
        margin: 0 0 1em 0;
        flex-wrap: nowrap;
        text-align: center;
    
      }
      p{
        font-size: 1em;
      }
    
      .page-title{
        font-size: 2em;
        margin: 0 0 .25em 0;
        flex-wrap: nowrap;
        text-align: center;
    
      }
    
      .subtitle{
        font-size: 1em;
        margin: 0 0 2em 0;
        flex-wrap: nowrap;
        text-align: center;
      }
      .subtitle2{

        font-size: 1em;
        margin: 0 0 .25em 0;
        flex-wrap: nowrap;
        text-align: center;
        padding-bottom: 1em;
      }
      .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-template-rows: 1fr;
        height:100%;
        grid-gap:1vw;
        padding-bottom: 2.5em;
      }

  }

  span{
      color: white;
  }

  .item {
    display: flex;
    justify-content:center;
    align-items:center;
    font-family: Georgia, 'Times New Roman', Times, serif;

  }
  .item:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    padding-bottom: calc(9/16 * 100%);
  }
  

 .title{
        text-align: center;}


.film-title{
  color: rgba(255, 255, 255);
  text-decoration: none;
  transition: ease 0.4s;
  padding:2em;
  opacity: 1;
}

.film-title:hover{
  color: rgb(156, 156, 156);
  transform: scale(1.05);
}
  
  /* Images for Grids */

.CD1{
  background-image:url(images/work/coh-d/cd_1.47.2-min.webp);
  background-size:cover;
  position: relative;
  transition: 0.3s;
  margin-top: 1em;
}
.CD2{
  background-image:url(images/work/coh-d/cd_1.125.1-min.webp);
  background-size:cover;
  position: relative;
  transition: 0.3s;
  margin-top: 1em;
}
.CD3{
  background-image:url(images/work/coh-d/cd_1.128.2-min.webp);
  background-size:contain;
  position: relative;
  transition: .3s;
  margin-top: 1em;
}

.CD4{
  background-image:url(images/work/coh-d/cd_1.134.1-min.webp);
  background-size:cover;
  position: relative;
  transition: 0.3s;
  margin-top: 1em;
}

.CD5{
  background-image:url(images/work/coh-d/cd_1.30.2-min.webp);
  background-size:cover;
  position: relative;
  transition: 0.3s;
  margin-top: 1em; 
}
.CD6{
  background-image:url(images/work/coh-d/cd_1.55.1-min.webp);
  background-size:cover;
  position: relative;
  transition: 0.3s;
  margin-top: 1em;
  
}
  