.contact-container{
    width:100%;
    background-color: #F2EFF3;
    text-align:center;  
    padding-bottom: 2em;
     padding-top: 4em;
    font-family:georgia, sans-serif;
    letter-spacing:2px;
    position:relative;
    display:block;
    list-style: none;
  }
  
  .contact-container h1{
    padding-top: 3vh ;
    font-size:4vw;
    font-weight:500;
    text-align:center;
    justify-content:center;
    line-height:5vh;
    color: #0783A0;
  }

  h2 a{
    text-decoration: none;
    list-style: none;
    color: black;
  }

  h2 a:hover{
    color:maroon;
  }
  
  .contact-container h2{
  font-weight:200;
  font-size:2vw;
  }
  
  span{
    color: #0783A0;
  }
  .contact-container li a i{
    color: #0783A0;
    font-size: 3.4vh;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease;
    display: none;
  }
.contact-container li a i:hover{
    color: maroon;
  }

  @media (max-width: 900px) {
    .contact-container h1{
      margin: 0;
      padding-top: 4vh;
      font-size:6vw;
      font-weight:500;
      text-align:center;
      justify-content:center;
      line-height:5vh;
    }
    
    .contact-container h2{
    font-weight:200;
    font-size:4vw;
    }
}

@media (max-width: 600px) {
  .contact-container h1{
    margin: 0;
    font-size:8vw;
    font-weight:500;
    text-align:center;
    justify-content:center;
    line-height:5vh;
  }
  
  .contact-container h2{
  font-weight:200;
  font-size:5.2vw;
  }
}