.contact-container{
    width:100%;
    background-color:; 
    font-family: georgia, sans-serif;
    letter-spacing:1px;
    position:relative;
    display:block;
    list-style: none;
  }

  body{
    background-image: url("images/work/callmybluff/CMB_Web_7\ \(1\).jpg");
    background-blend-mode:soft-light;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
  }  
  
  .contact-container h1{
    margin: 5em;
    margin-top: 0;
    font-size:1.2vw;
    font-weight:500;
    line-height:5vh;
    color: white;
  }
h2{
  color: white;
}
  h2 a{
    text-decoration: none;
    list-style: none;
    color: white;
  }

 h2 a.email:hover{
  }
  
  .contact-container h2{
  font-weight:200;
  font-size:1.5vw;
  }
  
  span{
    color: white;
  }
  .contact-container li a i{
    color: white;
    font-size: 3.4vh;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease;
    display: none;
  }
.contact-container li a i:hover{
    color: grey;
  }

  @media (max-width: 1000px) {
    .contact-container h1{
      margin: 0;
      font-size:1.8vw;
      font-weight:500;
      line-height:5vh;
      letter-spacing: 0;
    }
    
    .contact-container h2{
    font-weight:200;
    font-size:2vw;
    letter-spacing: 0;
    }

}

@media (max-width: 750px) {
  .contact-container h1{
    margin: 0;
    font-size:1.8vw;
    font-weight:500;
    line-height:5vh;
    letter-spacing: 0;
  }
  
  .contact-container h2{
  font-weight:200;
  font-size:2vw;
  letter-spacing: 0;
  }
}

  @media (max-width: 650px) {
    .contact-container h1{
      margin: 0;
      font-size:2vw;
      font-weight:500;
      line-height:4vh;
      letter-spacing: 0;
    }
    
    .contact-container h2{
    font-weight:200;
    font-size:2vw;
    letter-spacing: 0;
    }
    .text{
      padding-left: 2em;
      padding-right: 2em;
    }

}
@media (max-width: 450px) {
  .contact-container h1{
    margin: 0;
    font-size:2.7vw;
    font-weight:500;
    line-height:4vh;
    letter-spacing: 0;
  }
  
  .contact-container h2{
  font-weight:200;
  font-size:2.7vw;
  letter-spacing: 0;
  }
  .text{
    padding-left: 2em;
    padding-right: 2em;
  }
}

.bio-container{
  box-sizing: border-box;
  display: flex;
  margin: 2vw;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 100;
  padding-top: 1em;
  padding-bottom: 1em;
}
h3{
  margin: 1em 1em 1em 1em;
  padding: 1em 1em 1em 1em;
  text-decoration: none;
  font-weight: normal;
  margin-right: 0;
  color: whitesmoke;
}
.text{
  margin:0;
  color: whitesmoke;
  text-decoration: none;
  font-weight: 200;
  margin-right: 0;
  padding-top: 4em;
  padding-right: 5em;
  padding-left: 5em;
  padding-bottom: 0;
}
.text-col{
  height: auto;
}
@media (max-width: 650px) {
  .text{
    padding-left: 3em;
    padding-right: 3em;
  }

}
@media (max-width: 450px) {
  .text{
    padding-left: 2em;
    padding-right: 2em;
  }

}

.email{
  text-decoration: none;
  color: whitesmoke;
  margin-left: -1.5em;
  padding-top: 2em;
  font-size: 1.2rem;
  text-align: center;
  display: block;
}
.email:hover{
  transform: scale(1.05);
  transition: ease 0.3s;
}

.img-col img{
  width: 600px;
  height: auto;
}

div .img2{
  display: none;
}