body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;


}

.footer-container{
 
    height:;
    width:100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    position: absolute;
    bottom: 0;
    top: 100%;
}

.socials{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.5rem 0;
    margin-right: 50px;
    
}

.socials a{
    text-decoration: none;
    color: white;
    transition: color .2s ease;
    font-size: 30px;
}

.socials li{
    margin: 0 20px;
    transition: all 0.3s ease
}

.socials li:hover{
    transform: scale(1.05);
}
.green:hover{
    color: green;
}
.orange:hover{
    color: orange;
}

p{
    text-align: center;
    padding-bottom: 30px;
    
}
.rights{
    opacity: 40%;
}

.explore{
    color: whitesmoke;
}
