*{
    box-sizing: border-box;
}
.body-wrapper{
    padding-top: 2%;
    padding-bottom: 0%;
    margin-right: 5%;
    margin-left: 5%;
    flex: 1 1 80%;
    min-height:100%;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-template-rows: 1fr;
    height:100%;
    grid-gap:1vw;
    padding-bottom: 1em;
  }
  .title{
      color: #0783A0;
      font-size: 2em;
      margin: 0 0 .25em 0;
      flex-wrap: nowrap;

  }

  .item {
    display: flex;
    justify-content:center;
    align-items:center;
    background: lightgray;
    font-family: Georgia, 'Times New Roman', Times, serif;

  }
  .item:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    padding-bottom: calc(9/16 * 100%);
  }
  /* Images for Grids */

  .BL{
    background-image:url(images/work/bad-l/original/bl0.png);
    background-size:cover;
    position: relative;
    transition: 0.3s;
    border-radius: 24px;
  }
  
  .Swa{
    background-image:url(images/work/swa/swa-6.webp);
    background-size:cover;
    position: relative;
    transition: 0.3s;
    border-radius: 12px;
    
  }
  .Yth{
    background-image:url(images/work/youth/yth2.webp);
    background-size:cover;
    position: relative;
    transition: 0.3s;
    border-radius: 12px;
    
  }
  .JF{
    background-image:url(images/work/just-f/JF-6.webp);
    background-size:cover;
    position: relative;
    transition: 0.3s;
    border-radius: 12px;
    
  }
  .CD{
    background-image:url(images/work/coh-d/cd_1.47.2-min.webp);
    background-size:cover;
    position: relative;
    transition: 0.3s;
    border-radius: 12px;
    
  }
  .Ang{
    background-image:url(images/work/angelo/Ang-2.webp);
    background-size:cover;
    position: relative;
    transition: 0.3s;
    border-radius: 12px;
    
  }
  .LLL{
    background-image:url(images/work/lll/LLL__1.8.1.png);
    background-size:cover;
    position: relative;
    transition: 0.3s;
    border-radius: 12px;

    
  }

  
  .GH{
    background-image:url(images/work/ghost-h/gh1.webp);
    background-size:cover;
    position: relative;
    transition: 0.3s;
    border-radius: 12px;
    
  }
  .BTF{
    background-image:url(images/work/be-the-fox/BTF.webp);
    background-size:cover;
    position: relative;
    transition: 0.3s;
    border-radius: 12px;
    
  }
  .MYC{
    background-image:url(images/work/myc/MYC-1.webp);
    background-size:cover;
    position: relative;
    transition: 0.3s;
    border-radius: 12px;
    
  }
  .LTN{
    background-image:url(images/work/ltn/ltn_2.webp);
    background-size:cover;
    position: relative;
    transition: 0.3s;
    border-radius: 12px;
    
  }
  .LiW{
    background-image:url(images/work/liw/LiW2.webp);
    background-size:cover;
    position: relative;
    transition: 0.3s;
    border-radius: 12px;
    
  }
  .Cork{
    background-image:url(images/work/cork-simon/CSimon.webp);
    background-size:cover;
    position: relative;
    transition: 0.3s;
    border-radius: 12px;
    
  }
.CD:hover, .Ang:hover, .Muck:hover, .GH:hover, .BL:hover, .BTF:hover, .Cork:hover, .Yth:hover, .Swa:hover, .JF:hover, .MYC:hover,
.LTN:hover, .LiW:hover, .LLL:hover
{transform: scale(1.02);}

@media (max-width:910px){
  .title{
    text-align: center;}
    
  .grid{
      padding-top: .5em;
      grid-gap: 1.5em;
  }
}
  @media (max-width:600px){
    .body-wrapper{
   margin-right: 0%;
    margin-left: 0%;
}
.BL, .Ang, .Muck, .GH, .CD, .BTF, .Cork, .Yth, .Swa, .JF, .MYC, .LTN, .LiW, .LLL{
  border-radius: 24px;
}
  }

.film-title{
    font-size: 1.6em;
    color: rgb(255, 255, 255, 0.1);
    opacity: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    padding-top: 2.1em;
}

.film-title:hover{
    color: rgba(255, 255, 255, 1);
    opacity: 1;
}
.item:hover{
  opacity: .85;
}

.film-subheading{
  margin-top: 0.1em;
  font-size: 0.5em;
}



  
  