*{
    box-sizing: border-box;
}
.body-wrapper{
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 0%;
    flex: 1 1 80%;
    min-height:100%;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: 1fr;
    height:100%;
    grid-gap:.5vw;
    padding-bottom: 1em;
  }
  .title{
      color: #0783A0;
      font-size: 2em;
      margin: 0 0 .25em 0;
      flex-wrap: nowrap;

  }

  .item {
    display: flex;
    justify-content:center;
    align-items:center;
    background: lightgray;
    font-family: Georgia, 'Times New Roman', Times, serif;

  }
  .item:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    padding-bottom: calc(9/16 * 100%);
  }
  /* Images for Grids */

  .BL{
    background-image:url(images/work/bad-l/BL-1.webp);
    background-size:cover;
    position: relative;
    transition: 0.3s;
  }
  
  .Swa{
    background-image:url(images/work/swa/swa-6.webp);
    background-size:cover;
    position: relative;
    transition: 0.3s;
    
  }
  .Yth{
    background-image:url(images/work/youth/yth2.webp);
    background-size:cover;
    position: relative;
    transition: 0.3s;
    
  }
  .JF{
    background-image:url(images/work/just-f/JF-6.webp);
    background-size:cover;
    position: relative;
    transition: 0.3s;
    
  }
  .CD{
    background-image:url(images/work/coh-d/cd_1.47.2-min.webp);
    background-size:cover;
    position: relative;
    transition: 0.3s;
    
  }
  .Ang{
    background-image:url(images/work/angelo/Ang-2.webp);
    background-size:cover;
    position: relative;
    transition: 0.3s;
    
  }
  .Muck{
    background-image:url(images/work/muckie/m4.webp);
    background-size:cover;
    position: relative;
    transition: 0.3s;
    
  }
  
  .GH{
    background-image:url(images/work/ghost-h/gh1.webp);
    background-size:cover;
    position: relative;
    transition: 0.3s;
    
  }
  .BTF{
    background-image:url(images/work/be-the-fox/BTF.webp);
    background-size:cover;
    position: relative;
    transition: 0.3s;
    
  }
  .MYC{
    background-image:url(images/work/myc/MYC-1.webp);
    background-size:cover;
    position: relative;
    transition: 0.3s;
    
  }
  .LTN{
    background-image:url(images/work/ltn/ltn_2.webp);
    background-size:cover;
    position: relative;
    transition: 0.3s;
    
  }
  .LiW{
    background-image:url(images/work/liw/LiW2.webp);
    background-size:cover;
    position: relative;
    transition: 0.3s;
    
  }
  .Cork{
    background-image:url(images/work/cork-simon/CSimon.webp);
    background-size:cover;
    position: relative;
    transition: 0.3s;
    
  }
.CD:hover, .Ang:hover, .Muck:hover, .GH:hover, .BL:hover, .BTF:hover, .Cork:hover, .Yth:hover, .Swa:hover, .JF:hover
{transform: scale(1.02);}

@media (max-width:650px){
    .CD:hover, .Ang:hover, .Muck:hover, .GH:hover, .BL:hover, .BTF:hover, .Cork:hover, .Yth:hover, .Swa:hover, .JF:hover{
      transform: none;
  }
  .title{
    text-align: center;}
    
  .grid{
      padding-top: .5em;
      grid-gap: 1.5em;
  }
  .item .film-title{
    transition: none;
    color: white;
    opacity: 1;
  }

  
}

.film-title{
    font-size: 1.4em;
    color: rgb(255, 255, 255, 0.1);
    opacity: 0;
    text-decoration: none;
    transition: ease 0.4s;
    padding-top: 2.1em;
}

.film-title:hover{
    color: rgba(255, 255, 255, 1);
    opacity: 1;
}

.film-subheading{
  margin-top: 0.1em;
  font-size: 0.7em;
}



  
  