@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: auto;
  padding:0 .5REM 0 0;
  max-width: 1250px;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
  .image-container{
    position: relative;
    max-width:100vw;
    height:auto; 
  }
  
  .image-img{
    width:100%;
    display:block;
  }
  
  .image-overlay{
    position:absolute;
    top:0;
    left:0;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background: rgba(0, 0, 0, 0.4);
    width:100%;
    height:100%;
    color:white;
    font-family: Georgia;
    cursor:pointer;
    opacity:0;
   
   
  }
  
  .image-heading{
    font-size:2.4em;
    font-weight:bold;
  }
  
  .image-description{
    font-size:1.2em;
    margin-top:0.4em;
  }
  
  .image-overlay:hover{
    opacity:1;
    transition:0.25s;
  }