*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Nav Bar */

.nav--list{
    background-color: white;
    box-shadow: 0px 0px 10px grey;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: .5rem 0;
    margin: 0;
    width: 100vw;
    height: auto;
    font-size: 1.2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav--list--item{
    margin-right: 2.8rem;
    list-style: none;
}

.nav--list--item a{
    text-decoration: none;
    color: black;
    transition: color 0.2s ease;
}
.nav--list--item a:hover{
    color: red;
}

.nav--list--item:first-child{
    margin-right: auto;
    margin-left: 1rem;
    margin-top: 1rem;
    display: block;
}

.nav--list--item

/* Body */

div .image-container{
    height: 100vh;
    background-color: black;
}

.image-img{
    display: block;
    width: 100%;
}